<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
        "urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="study" frontName="study">
            <module name="Magenest_Study"
                    before="Magento_Backend" />
        </route>
    </router>
</config>